* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  position: fixed;       
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  background-color: white;
  padding: 0 2rem;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.navbar-menu-container {
  display: none;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}