* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #f6f6f6;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  background-color: white;
  padding: 0 2rem;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

.nav-logo-container img {
  height: 150px;
  width: auto;
  object-fit: contain;
}

.home-container {
  width: 100%;
  background-color: #f6f6f6;
  min-height: 90vh;
  position: relative;
}

.home-banner-container {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  margin-top: 80px;
}

.home-banner-background {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.home-text-section {
  position: relative;
  z-index: 1;
  text-align: left;
  margin-left: 8rem; /* text left */
  margin-top: 8rem; /* vertical spacing */
  max-width: 600px;
}

.home-text-section h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #2E2E2E;
    margin-bottom: 1rem;
}

.home-text-section p {
  font-size: 1.5rem;
  color: #6a6a6a;
  margin-top: 1rem;
}

.button-group {
  margin-top: 1.5rem;
}

.home-text-section button {
  border-radius: 20px;
  border: 2px solid black;
  background-color: gold;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in, background-color 0.3s ease;
  cursor: pointer;
  margin-right: 1rem;
}

.home-text-section button:hover {
  background-color: darkgoldenrod;
  border: 2px solid black;
}

.home-text-section button:active {
  transform: scale(0.98);
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 10rem;
}

.home-animation {
  width: 350px;
  height: 350px;
  z-index: 1;
}

@media (max-width: 768px) {
    .home-text-section {
        margin-left: 2rem;
        margin-top: 8rem;
        text-align: center;
    }

    .button-group button {
        margin: 0.5rem;
    }

    .home-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
    .home-animation {
        margin-top: 2rem;
        width: 250px;
        height: 250px;
    }
}
