nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    background-color: white;
    padding: 0 2rem;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family: "Reem Kufi", sans-serif !important;
  }
  
  .navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: #444444;
    font-size: 1.3rem;
    font-weight: 600;
  }

  .navbar-links-container a:hover {
    color: #53A9A3; 
  }
  
  .nav-logo-container img {
    height: 150px;
    width: auto;
    object-fit: contain;
  }